input, button {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}
/* Przycisk dodawania */
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #218838;
}

.reserve-button {
    background-color: #007474;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 30px;
}

.reserve-button:hover {
    background-color: #005f5f;
}
