.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  margin-right: 15px;
}

.headControls {
  height: 100px;
}

.daysContainer {
  flex: 1;
}

.daysGrid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dayTileTest {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin: 3%;
  background-color: #007474;
  border: 3px #ffd700 solid;
  transition: all 0.5s ease-out, transform 2s ease-out;
  font-size: 30px;
}

.dayTileTest.blackedout {
  background-color: #004C4C;
  color: #ffffff;
  border: 3px #ffd700 solid;
}

.dayTileTest.blackedout:hover {
  transform: none;
}

.dayTileTest.currentDay {
  border: 3px #ffffff dashed;
}

.dayTileTest:hover {
  transform: rotateY(360deg);
}

.headControlsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controlsContainer {
  flex: 1;
  padding: 5px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls h1 {
  font-size: 30px;
  margin: 20px;
}

.monthShiftButton {
  transition: all 0.25s;
}

.monthShiftButton:hover {
  color: white;
  font-style: bold;
  font-size: 22px;
}

.monthName {
  font-size: 30px;
  font-style: bold;
}

.weekdays {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: end;
  justify-items: center;
}

@media(max-width: 1920px) {
  .dayTileTest {
    font-size: 20px;
  }
}