.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height:100%;
  border-bottom: 5px #007474 solid;
}

.container h1 {
  padding-left: 30px;
}

.accountButton {
  display: flex;
  padding: 0px 30px 0px 20px;
  justify-content: space-between;
  align-items: center;
  background: #ba8e23;
  height: 60%;
  width:200px;
  font: inherit;
  color: #ffffff;
  border-radius: 5px;
}

.accountButton img {
  height: 70%;
}

.accountButton h2 {
  font-size: 20px;
}

.accountButton:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.accountButton:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}